<!--PORTFOLIO-->
<section class="timeline-section">

    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-title"></div>
        <div class="col-md-9 bg1 full-height-reference">
            <h2>Portfolio</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point"></div>
        <div class="col-md-9 bg1 full-height-reference" itemscope itemtype="http://schema.org/EducationalOrganization">
            <p>Quelques projets sur lesquels j'ai travaillé :</p>
            <div id="portfolio">
                <div class="image"><img src="/img/Junkee.png" /></div>
                <div class="image"><img src="/img/awol.png" /></div>
                <div class="image"><img src="/img/inthemix.png" /></div>
                <div class="image"><img src="/img/FasterLouder.png" /></div>
                <div class="image"><img src="/img/6play.png" /></div>
                <div class="image"><img src="/img/eovimcd.png" /></div>
                <div class="image"><img src="/img/annemassetourisme.png" /></div>
                <div class="image"><img src="/img/clinique_des_plantes.png" /></div>
                <div class="image"><img src="/img/eovimcd-mobile.png" /></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
        <div class="col-md-9 bg1 spacing-height full-height-reference">
        </div>
    </div>

</section>