{{> header }}

    <div id="content-body" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12" itemscope itemtype="http://schema.org/Person">
            <section class="intro row">
                <div class="col-md-4">
                    <div class="profile-pic">
                        <div class="profile-border">
                            <img src="/img/alex.png" alt="Alex Le Bescond"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h1><span class="color bold" itemprop="name">{{{title}}}</span></h1>
                    <h2 itemprop="jobTitle">{{{subtitle}}}</h2>
                    <p itemprop="description">{{{intro}}}</p>
                </div>
            </section>
            <div class="timeline-wrap">
                <div class="timeline-bg">
                    <div class="row">
                        <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
                        <div class="col-md-9 bg1 spacing-height full-height-reference">
                        </div>
                    </div>
                    <section class="timeline-section">
                        {{#profile}}
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-title"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h2>{{{title}}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h3>{{{name.label}}}</h3>
                                <p itemprop="name">{{{name.value}}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h3>{{{birth.label}}}</h3>
                                <p><span itemprop="birthDate">{{{birth.date}}}</span> - <span itemprop="birthPlace">{{{birth.place}}}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h3>{{{email.label}}}</h3>
                                <p itemprop="email">{{{email.value}}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h3>{{{findme.label}}}</h3>
                                <p>
                                    <a href="https://fr.linkedin.com/in/alex-le-bescond-4510314" class="btn btn-default" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://github.com/alexlebesc" class="btn btn-default" target="_blank"><i class="fa fa-github"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
                            <div class="col-md-9 bg1 spacing-height full-height-reference">
                            </div>
                        </div>
                        {{/profile}}
                    </section>
                    <section class="timeline-section">
                        {{#experience}}
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-title"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                        {{#experiences}}
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-work"></div>
                            <div class="col-md-9 bg1 full-height-reference" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                                <h3 itemprop="name">{{company}}</h3>
                                <h4>
                                    <span>{{jobTitle}}</span> - <span class="time-period" ><span >{{start}}</span> - <span>{{end}}</span></span> - <span class="location">{{location}}</span>
                                </h4>
                                <div>
                                    {{{jobDescription}}}
                                    <ul class="using">
                                    {{#using}}
                                        <li><span class="label label-default">{{label}}</span></li>
                                    {{/using}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {{/experiences}}
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
                            <div class="col-md-9 bg1 spacing-height full-height-reference">
                            </div>
                        </div>
                    {{/experience}}
                    </section>
                    <section class="timeline-section">
                    {{#education}}
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-title"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h2>{{title}}</h2>
                            </div>
                        </div>

                        {{#educations}}
                            <div class="row">
                                <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                                <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-education"></div>
                                <div class="col-md-9 bg1 full-height-reference" itemscope itemtype="http://schema.org/EducationalOrganization">
                                    <h3>{{degree}}</h3>
                                    <h4>
                                        <span itemprop="name">{{school}}</span>, {{country}} - <span class="time-period">{{start}} - {{end}}</span>
                                    </h4>
                                    <br />
                                </div>
                            </div>
                        {{/educations}}

                    {{/education}}
                    </section>
                    <section class="timeline-section">
                    {{#skills}}
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-title"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                        {{#groups}}
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h3>{{title}}</h3>

                                {{#progress-list}}
                                <ul class="skills-list">
                                    {{#list}}
                                    <li>
                                        <div class="progress">
                                            <div class="progress-bar {{class}}" data-percent="{{percent}}%" role="progressbar" style="width: {{percent}}%;">
                                                <span class="sr-only">{{percent}}% Complete</span>
                                            </div>
                                            <span class="progress-type">{{label}}</span>
                                            <span class="progress-completed">{{percent}}%</span>
                                        </div>
                                    </li>
                                    {{/list}}
                                </ul>
                                {{/progress-list}}

                                {{^progress-list}}
                                <ul class="using">
                                    {{#list}}
                                    <li><span class="label label-default">{{label}}</span></li>
                                    {{/list}}
                                </ul>
                                {{/progress-list}}
                            </div>
                        </div>
                        {{/groups}}

                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
                            <div class="col-md-9 bg1 spacing-height full-height-reference">
                            </div>
                        </div>

                    {{/skills}}
                    </section>
                    <section class="timeline-section">
                    {{#interests}}
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-title"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                        {{#list}}
                        <div class="row">
                            <div class="col-md-1 hidden-sm hidden-xs bg1 full-height"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point"></div>
                            <div class="col-md-9 bg1 full-height-reference">
                                <h3>{{title}}</h3>
                                <p>{{content}}</p>
                            </div>
                        </div>
                        {{/list}}
                    {{/interests}}
                    </section>
                    <section class="timeline-section">
                        <div class="row line-thankyou">
                            <div class="col-md-1 hidden-sm hidden-xs bg1"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-point"></div>
                            <div class="thankyou col-md-9 bg1">&nbsp;</div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="before-footer col-md-12 col-sm-12">
        </div>
    </div>
    <footer>
        {{#quote}}
        <p class="quote">
            {{content}}
        </p>
        <p class="author">
            {{author}}
        </p>
        {{/quote}}
    </footer>
</div>

{{> footer }}

